
.DS_Store

CardXManiaBackEnd/target/

CardXManiaBackEnd/.settings/

CardXManiaBackEnd/.classpath

CardXManiaBackEnd/.project
CardXManiaFront/.vscode/settings.json

CardXManiaFront/node_modules/

CardXManiaFront/.angular/
